In [3]:
!pip3 install yfinance
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance

Requirement already satisfied: yfinance in /opt/python/envs/default/lib/python3.8/site-packages (0.1.64)
Requirement already satisfied: multitasking>=0.0.7 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.2.3)
Requirement already satisfied: requests>=2.20 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (2.25.1)
Requirement already satisfied: lxml>=4.5.1 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/python/envs/default/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (4.0.0)
WARNING: You are using pip version 21.1; however, version 21.3.1 is available.
You should consider upgrading via the '/opt/python/envs/default/bin/python -m pip install --upgrade pip' command.

In [4]:
DIA = "DIA"

In [5]:
DIA = yfinance.download("DIA")
DIA

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1998-01-20,77.812500,78.843750,77.406250,78.812500,47.259445,1744600
1998-01-21,78.093750,78.375000,77.281250,77.843750,46.678547,1839600
1998-01-22,77.187500,77.859375,76.937500,77.187500,46.285004,1662600
1998-01-23,77.500000,77.750000,76.312500,77.000000,46.172562,1693700
1998-01-26,77.375000,77.671875,76.937500,77.312500,46.359943,1172800
...,...,...,...,...,...,...
2021-10-20,354.510010,356.579987,354.369995,356.029999,356.029999,2873800
2021-10-21,355.390015,356.089996,354.299988,355.959991,355.959991,2243800
2021-10-22,355.970001,357.619995,355.320007,356.739990,356.739990,3868800
2021-10-25,357.359985,357.890015,356.290009,357.549988,357.549988,2512600
2021-10-26,358.559998,358.929993,357.369995,357.820007,357.820007,1974964

In [6]:
DIA.head(51)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1998-01-20,77.812500,78.843750,77.406250,78.812500,47.259445,1744600
1998-01-21,78.093750,78.375000,77.281250,77.843750,46.678547,1839600
1998-01-22,77.187500,77.859375,76.937500,77.187500,46.285004,1662600
1998-01-23,77.500000,77.750000,76.312500,77.000000,46.172562,1693700
1998-01-26,77.375000,77.671875,76.937500,77.312500,46.359943,1172800
1998-01-27,77.125000,78.562500,77.078125,78.218750,46.903397,1454500
1998-01-28,78.375000,79.234375,78.218750,79.125000,47.446804,1181200
1998-01-29,79.062500,80.250000,78.890625,79.406250,47.615498,1468500
1998-01-30,79.937500,79.937500,78.968750,79.234375,47.512421,1095600
1998-02-02,80.625000,81.312500,80.406250,81.015625,48.580498,955600
1998-02-03,81.000000,81.671875,80.656250,81.656250,48.964691,619400
1998-02-04,81.218750,81.656250,80.812500,81.218750,48.702309,753200
1998-02-05,81.812500,81.906250,80.734375,81.234375,48.711678,1067600
1998-02-06,81.500000,82.171875,81.359375,82.109375,49.236378,1069700
1998-02-09,82.093750,82.250000,81.437500,81.781250,49.039642,515900
1998-02-10,82.031250,83.343750,81.921875,83.156250,49.864086,892100
1998-02-11,82.968750,83.390625,82.843750,83.156250,49.864086,515000
1998-02-12,82.734375,84.109375,82.375000,83.687500,50.182686,1065000
1998-02-13,83.343750,83.843750,83.171875,83.640625,50.154575,596700
1998-02-17,84.312500,84.718750,83.890625,84.062500,50.407558,840600
1998-02-18,84.078125,84.703125,83.843750,84.625000,50.744888,773000
1998-02-19,84.640625,84.703125,83.828125,83.828125,50.267025,804800
1998-02-20,84.078125,84.468750,83.312500,84.281250,50.538780,540600
1998-02-23,85.000000,85.000000,83.968750,84.250000,50.520012,639200
1998-02-24,84.125000,84.406250,83.531250,84.000000,50.370075,702700
1998-02-25,84.250000,85.156250,84.078125,84.687500,50.782345,687400
1998-02-26,84.609375,85.218750,84.406250,85.156250,51.063419,439800
1998-02-27,85.109375,85.953125,84.890625,85.593750,51.325775,451300
1998-03-02,85.750000,85.859375,85.281250,85.718750,51.400738,1062800
1998-03-03,85.218750,86.125000,85.187500,86.109375,51.634945,596600
1998-03-04,85.625000,85.875000,85.109375,85.531250,51.288311,691700
1998-03-05,84.500000,85.265625,84.218750,84.781250,50.838570,778300
1998-03-06,85.093750,86.031250,85.093750,86.031250,51.588085,933100
1998-03-09,85.625000,86.578125,85.593750,85.875000,51.494457,685300
1998-03-10,86.375000,86.750000,86.156250,86.718750,52.000423,563700
1998-03-11,86.937500,87.234375,86.734375,87.000000,52.169033,406600
1998-03-12,86.937500,87.062500,86.312500,86.890625,52.103439,576700
1998-03-13,87.187500,87.250000,86.093750,86.156250,51.663082,458900
1998-03-16,86.562500,87.468750,86.343750,87.468750,52.450089,733000
1998-03-17,87.281250,87.781250,87.078125,87.765625,52.628098,499900
1998-03-18,87.593750,88.015625,87.281250,87.984375,52.759293,410900
1998-03-19,88.000000,88.296875,87.843750,88.234375,52.909172,730000
1998-03-20,88.562500,89.406250,88.281250,89.156250,53.462029,754300
1998-03-23,89.187500,89.187500,88.390625,88.484375,53.059132,551600
1998-03-24,88.968750,89.859375,88.921875,89.437500,53.630630,470300
1998-03-25,90.062500,90.062500,88.250000,88.875000,53.293362,966200
1998-03-26,88.843750,89.296875,88.515625,88.625000,53.143501,412800
1998-03-27,89.343750,89.406250,87.875000,88.265625,52.927975,584100
1998-03-30,88.281250,88.562500,87.687500,88.156250,52.862377,562400
1998-03-31,88.468750,89.312500,88.062500,88.187500,52.881145,620000
1998-04-01,88.359375,89.203125,87.718750,88.937500,53.330833,373700

In [7]:
DIA.tail(51)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-08-16,354.410004,356.600006,352.660004,356.570007,355.075165,3634600
2021-08-17,353.910004,354.670013,351.510010,353.829987,352.346619,5019600
2021-08-18,352.619995,354.040009,349.890015,350.119995,348.652222,4038000
2021-08-19,347.329987,350.480011,347.309998,349.480011,348.014893,5442200
2021-08-20,348.980011,351.750000,348.529999,351.160004,350.300262,3394100
2021-08-23,352.959991,354.309998,352.920013,353.450012,352.584686,3569200
2021-08-24,354.079987,354.489990,353.619995,353.739990,352.873932,1981400
2021-08-25,353.779999,355.040009,352.920013,354.179993,353.312866,2434700
2021-08-26,354.470001,355.000000,352.070007,352.160004,351.297821,3008900
2021-08-27,352.649994,354.850006,352.649994,354.570007,353.701935,3163100
2021-08-30,354.959991,355.220001,353.880005,354.079987,353.213104,2482000
2021-08-31,353.799988,354.799988,353.179993,353.920013,353.053528,2913800
2021-09-01,354.290009,354.350006,353.290009,353.549988,352.684418,2739200
2021-09-02,354.779999,355.179993,353.920013,354.869995,354.001160,2390000
2021-09-03,353.679993,354.649994,353.089996,354.140015,353.272980,2465400
2021-09-07,353.640015,353.690002,350.989990,351.440002,350.579590,3168500
2021-09-08,350.820007,352.170013,349.640015,350.730011,349.871338,3075700
2021-09-09,350.559998,352.510010,348.920013,349.309998,348.454773,3484700
2021-09-10,351.250000,351.660004,346.570007,346.700012,345.851196,4528300
2021-09-13,348.910004,349.940002,347.470001,349.299988,348.444824,5439700
2021-09-14,350.399994,350.570007,345.709991,346.470001,345.621765,3902200
2021-09-15,346.410004,349.459991,345.779999,348.820007,347.966003,3267300
2021-09-16,348.910004,350.079987,346.000000,348.179993,347.327545,3646000
2021-09-17,346.850006,347.700012,345.059998,345.640015,345.524200,5380900
2021-09-20,340.220001,342.160004,335.989990,339.399994,339.286255,10010600
2021-09-21,341.410004,343.070007,339.010010,339.109985,338.996338,6071100
2021-09-22,341.160004,344.329987,340.440002,342.500000,342.385223,6862700
2021-09-23,344.809998,348.670013,344.529999,347.559998,347.443542,5592200
2021-09-24,346.500000,348.429993,346.309998,347.869995,347.753418,3121600
2021-09-27,348.290009,350.500000,348.170013,348.609985,348.493164,3426000
2021-09-28,347.309998,347.820007,342.410004,342.920013,342.805115,7493800
2021-09-29,343.869995,345.670013,342.880005,343.769989,343.654785,4116600
2021-09-30,345.079987,345.440002,338.109985,338.290009,338.176636,7895200
2021-10-01,340.029999,344.779999,337.679993,343.179993,343.065002,6219800
2021-10-04,342.609985,344.029999,338.070007,340.010010,339.896088,7037700
2021-10-05,341.130005,344.869995,340.470001,343.130005,343.015015,3826100
2021-10-06,340.480011,344.299988,338.470001,344.119995,344.004669,6276300
2021-10-07,346.869995,349.769989,346.769989,347.630005,347.513519,5310400
2021-10-08,347.920013,348.459991,346.579987,347.529999,347.413544,3656600
2021-10-11,347.660004,349.559998,344.859985,344.980011,344.864410,4098400
2021-10-12,345.489990,346.100006,343.190002,343.779999,343.664795,5100300
2021-10-13,343.950012,344.559998,341.119995,343.890015,343.774780,4189100
2021-10-14,347.209991,349.220001,346.600006,349.130005,349.013000,4473900
2021-10-15,351.649994,353.079987,350.920013,352.850006,352.850006,4197800
2021-10-18,351.339996,353.130005,350.250000,352.500000,352.500000,3310600
2021-10-19,353.670013,354.510010,352.799988,354.459991,354.459991,2380900
2021-10-20,354.510010,356.579987,354.369995,356.029999,356.029999,2873800
2021-10-21,355.390015,356.089996,354.299988,355.959991,355.959991,2243800
2021-10-22,355.970001,357.619995,355.320007,356.739990,356.739990,3868800
2021-10-25,357.359985,357.890015,356.290009,357.549988,357.549988,2512600
2021-10-26,358.559998,358.929993,357.369995,357.820007,357.820007,1974964

In [8]:
DIA.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5983.000000,5983.000000,5983.000000,5983.000000,5983.000000,5.983000e+03
mean,148.938933,149.768156,148.030737,148.942721,122.566836,6.870946e+06
std,66.576592,66.793322,66.327824,66.576218,75.158870,6.916517e+06
min,65.510002,67.169998,64.779999,65.440002,45.311604,7.100000e+04
25%,103.555000,104.275623,102.904999,103.634998,67.313759,2.879050e+06
50%,120.650002,121.320000,119.980003,120.690002,89.297913,5.224700e+06
75%,177.875000,178.489998,177.055000,177.784996,155.673363,8.343650e+06
max,358.559998,358.929993,357.369995,357.820007,357.820007,9.169520e+07

In [9]:
DIA.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5983 entries, 1998-01-20 to 2021-10-26
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       5983 non-null   float64
 1   High       5983 non-null   float64
 2   Low        5983 non-null   float64
 3   Close      5983 non-null   float64
 4   Adj Close  5983 non-null   float64
 5   Volume     5983 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 327.2 KB

In [10]:
def sinplot(flip=1):
    x = np.linspace(0, 14, 100)
    for i in range(1, 7):
        plt.plot(x, np.sin(x + i * .5) * (7 - i) * flip)
sinplot()

In [11]:
sns.set_theme()
sinplot()

In [12]:
sns.set_style("dark")
sinplot()

In [13]:
sns.set_style("white")
sinplot()

In [14]:
sns.set_style("white")
sinplot()

In [15]:
sns.set_style("ticks")
sinplot()

In [16]:
sinplot()
sns.despine()

In [18]:
f = plt.figure(figsize=(6, 6))
gs = f.add_gridspec(2, 2)

with sns.axes_style("darkgrid"):
    ax = f.add_subplot(gs[0, 0])
    sinplot()

with sns.axes_style("white"):
    ax = f.add_subplot(gs[0, 1])
    sinplot()

with sns.axes_style("ticks"):
    ax = f.add_subplot(gs[1, 0])
    sinplot()

with sns.axes_style("whitegrid"):
    ax = f.add_subplot(gs[1, 1])
    sinplot()

f.tight_layout()

In [19]:
sns.set_style("darkgrid", {"axes.facecolor": ".9"})
sinplot()