In [9]:
!pip3 install yfinance
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance

Requirement already satisfied: yfinance in /opt/python/envs/default/lib/python3.8/site-packages (0.1.64)
Requirement already satisfied: requests>=2.20 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (2.25.1)
Requirement already satisfied: multitasking>=0.0.7 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.2.3)
Requirement already satisfied: numpy>=1.15 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/python/envs/default/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (4.0.0)
WARNING: You are using pip version 21.1; however, version 21.3.1 is available.
You should consider upgrading via the '/opt/python/envs/default/bin/python -m pip install --upgrade pip' command.

In [10]:
QQQ = "QQQ"

In [11]:
QQQ = yfinance.download("QQQ")
QQQ

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-03-10,51.125000,51.156250,50.281250,51.062500,44.286316,5232000
1999-03-11,51.437500,51.734375,50.312500,51.312500,44.503159,9688600
1999-03-12,51.125000,51.156250,49.656250,50.062500,43.419029,8743600
1999-03-15,50.437500,51.562500,49.906250,51.500000,44.665771,6369000
1999-03-16,51.718750,52.156250,51.156250,51.937500,45.045212,4905800
...,...,...,...,...,...,...
2021-10-20,375.940002,376.570007,373.459991,374.980011,374.980011,31390300
2021-10-21,374.160004,377.470001,373.850006,377.269989,377.269989,25469300
2021-10-22,375.980011,376.970001,372.390015,374.100006,374.100006,36231900
2021-10-25,375.559998,378.869995,373.559998,377.929993,377.929993,32516700
2021-10-26,380.230011,382.709991,377.904999,379.660187,379.660187,33716489

In [12]:
QQQ.head(51)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-03-10,51.125000,51.156250,50.281250,51.062500,44.286316,5232000
1999-03-11,51.437500,51.734375,50.312500,51.312500,44.503159,9688600
1999-03-12,51.125000,51.156250,49.656250,50.062500,43.419029,8743600
1999-03-15,50.437500,51.562500,49.906250,51.500000,44.665771,6369000
1999-03-16,51.718750,52.156250,51.156250,51.937500,45.045212,4905800
1999-03-17,51.937500,52.000000,51.406250,51.562500,44.719978,3965000
1999-03-18,51.500000,52.593750,51.484375,52.562500,45.587276,4848400
1999-03-19,53.250000,53.250000,51.187500,51.218750,44.421829,7160400
1999-03-22,51.437500,51.562500,50.500000,50.593750,43.879776,5024800
1999-03-23,50.312500,50.500000,48.718750,48.812500,42.334908,10962400
1999-03-24,49.250000,50.500000,48.500000,50.468750,43.771362,8447000
1999-03-25,51.250000,52.312500,50.914062,52.312500,45.370449,8133800
1999-03-26,51.875000,52.468750,51.531250,51.750000,44.882595,8256200
1999-03-29,52.375000,53.656250,52.062500,53.625000,46.508770,5113800
1999-03-30,53.562500,54.000000,53.031250,53.250000,46.183537,4940600
1999-03-31,54.125000,54.187500,52.312500,52.468750,45.505974,8256600
1999-04-01,54.000000,54.062500,52.687500,53.562500,46.454563,8715800
1999-04-05,54.429688,55.578125,54.093750,55.500000,48.134953,5697200
1999-04-06,55.437500,56.218750,54.968750,55.609375,48.229813,7522400
1999-04-07,56.125000,56.250000,53.843750,55.031250,47.728420,11923600
1999-04-08,54.937500,55.734375,53.812500,55.468750,48.107864,7952400
1999-04-09,55.375000,55.937500,55.218750,55.812500,48.405987,4946800
1999-04-12,54.500000,55.812500,54.437500,55.437500,48.080753,10934000
1999-04-13,55.781250,55.906250,54.250000,54.687500,47.430264,9962200
1999-04-14,55.375000,55.437500,52.507812,52.812500,45.804104,21253800
1999-04-15,53.000000,53.617188,51.125000,53.531250,46.427456,17650600
1999-04-16,53.406250,53.406250,51.687500,51.968750,45.072319,17274000
1999-04-19,52.312500,52.750000,49.007812,49.531250,42.958279,19460600
1999-04-20,49.312500,51.062500,48.843750,50.656250,43.933971,17413600
1999-04-21,51.125000,53.187500,50.437500,53.156250,46.102234,10940400
1999-04-22,53.656250,54.750000,53.304688,54.593750,47.348969,13630600
1999-04-23,54.312500,55.718750,53.750000,55.312500,47.972343,7064400
1999-04-26,55.687500,57.000000,55.507812,56.585938,49.076797,5421000
1999-04-27,57.000000,57.281250,55.007812,55.718750,48.324669,16482800
1999-04-28,55.250000,55.437500,53.570312,53.812500,46.671394,7676800
1999-04-29,53.562500,53.875000,52.250000,53.375000,46.291958,19148200
1999-04-30,54.125000,54.406250,51.812500,53.718750,46.590080,15295200
1999-05-03,53.562500,53.781250,52.539062,53.437500,46.346157,11109800
1999-05-04,53.531250,54.375000,52.281250,52.593750,45.614365,15428400
1999-05-05,52.625000,54.187500,51.031250,54.187500,46.996620,12642600
1999-05-06,53.687500,54.156250,51.718750,52.218750,45.289139,15173400
1999-05-07,52.687500,53.125000,51.562500,52.968750,45.939606,16430400
1999-05-10,53.312500,53.859375,52.687500,53.500000,46.400379,10604200
1999-05-11,53.937500,54.625000,53.625000,54.343750,47.132145,8800800
1999-05-12,54.593750,55.656250,53.000000,55.468750,48.107864,12507400
1999-05-13,55.906250,56.000000,54.187500,54.437500,47.213428,9864000
1999-05-14,53.375000,54.000000,53.000000,53.406250,46.319050,12205400
1999-05-17,52.937500,54.531250,52.414062,54.367188,47.152481,9906800
1999-05-18,54.312500,54.625000,53.500000,54.125000,46.942421,9267800
1999-05-19,54.343750,54.906250,53.500000,54.875000,47.592888,7985600
1999-05-20,54.992188,54.992188,53.281250,53.367188,46.285179,5997200

In [13]:
QQQ.tail(51)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-08-16,367.670013,369.019989,363.700012,368.980011,368.571381,34856900
2021-08-17,366.149994,367.149994,363.230011,365.730011,365.324982,44793900
2021-08-18,365.179993,366.619995,361.869995,362.209991,361.808868,38541900
2021-08-19,360.220001,365.679993,359.959991,363.959991,363.556915,48499400
2021-08-20,365.059998,368.140015,364.739990,367.730011,367.322754,39462300
2021-08-23,368.799988,373.940002,368.790009,373.230011,372.816681,34034700
2021-08-24,373.839996,374.989990,373.359985,374.369995,373.955383,21732900
2021-08-25,374.630005,375.390015,373.859985,374.799988,374.384918,20441900
2021-08-26,373.920013,374.619995,371.970001,372.420013,372.007568,29133300
2021-08-27,373.070007,376.559998,372.570007,376.040009,375.623566,27088600
2021-08-30,376.850006,380.760010,376.829987,380.260010,379.838898,27295700
2021-08-31,380.510010,380.579987,378.359985,379.950012,379.529236,29628200
2021-09-01,381.040009,382.709991,380.369995,380.579987,380.158508,28138300
2021-09-02,381.970001,382.309998,379.149994,380.399994,379.978729,25453400
2021-09-03,379.220001,381.980011,379.200012,381.570007,381.147430,24605400
2021-09-07,381.679993,382.779999,380.489990,382.109985,381.686829,23970200
2021-09-08,381.929993,381.929993,378.450012,380.779999,380.358307,32949200
2021-09-09,381.010010,382.149994,379.220001,379.470001,379.049744,29399000
2021-09-10,381.230011,381.970001,376.250000,376.589996,376.172943,40210700
2021-09-13,378.989990,379.429993,374.220001,376.329987,375.913208,48741800
2021-09-14,377.859985,378.609985,374.279999,375.260010,374.844421,41826600
2021-09-15,375.730011,378.410004,373.369995,378.049988,377.631317,34097900
2021-09-16,376.679993,378.899994,374.700012,378.309998,377.891022,35193100
2021-09-17,377.820007,377.869995,372.760010,373.829987,373.415985,60912300
2021-09-20,367.459991,369.250000,360.929993,365.700012,365.700012,76203200
2021-09-21,367.579987,368.809998,364.989990,366.149994,366.149994,41927500
2021-09-22,367.089996,371.070007,365.959991,369.570007,369.570007,46972900
2021-09-23,370.760010,374.040009,370.100006,372.980011,372.980011,44652000
2021-09-24,370.649994,373.760010,370.269989,373.329987,373.329987,36056800
2021-09-27,370.200012,371.250000,367.730011,370.350006,370.350006,43338100
2021-09-28,365.670013,370.299988,359.350006,359.869995,359.869995,97701600
2021-09-29,361.170013,363.369995,358.640015,359.279999,359.279999,58076600
2021-09-30,360.970001,362.679993,357.100006,357.959991,357.959991,61136600
2021-10-01,358.600006,361.250000,354.380005,360.179993,360.179993,56375500
2021-10-04,358.519989,358.859985,350.320007,352.619995,352.619995,76766000
2021-10-05,353.709991,359.690002,353.480011,357.380005,357.380005,47232900
2021-10-06,354.079987,359.950012,353.149994,359.670013,359.670013,56806500
2021-10-07,362.799988,365.690002,362.250000,362.970001,362.970001,39411200
2021-10-08,364.079987,364.320007,360.609985,361.160004,361.160004,41810200
2021-10-11,359.579987,363.200012,358.299988,358.390015,358.390015,34847200
2021-10-12,359.880005,360.329987,356.480011,357.140015,357.140015,43905100
2021-10-13,359.510010,360.690002,357.429993,360.000000,360.000000,40120800
2021-10-14,363.690002,366.850006,363.010010,366.630005,366.630005,43433900
2021-10-15,367.880005,369.059998,366.820007,368.940002,368.940002,40391000
2021-10-18,367.609985,372.869995,366.989990,372.649994,372.649994,34513500
2021-10-19,373.750000,375.519989,372.700012,375.470001,375.470001,29091000
2021-10-20,375.940002,376.570007,373.459991,374.980011,374.980011,31390300
2021-10-21,374.160004,377.470001,373.850006,377.269989,377.269989,25469300
2021-10-22,375.980011,376.970001,372.390015,374.100006,374.100006,36231900
2021-10-25,375.559998,378.869995,373.559998,377.929993,377.929993,32516700
2021-10-26,380.230011,382.709991,377.904999,379.660187,379.660187,33716489

In [14]:
QQQ.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5697.000000,5697.000000,5697.000000,5697.000000,5697.000000,5.697000e+03
mean,91.527205,92.256880,90.701787,91.527362,86.604493,6.744963e+07
std,75.501920,75.960243,74.980479,75.538098,76.567219,5.129810e+07
min,19.940001,20.530001,19.760000,20.059999,17.397966,3.302000e+06
25%,40.770000,41.250000,40.410000,40.799999,35.795780,2.954570e+07
50%,58.799999,59.290001,58.330002,58.849998,52.619316,5.450610e+07
75%,110.629997,111.125000,109.910004,110.580002,104.915848,9.145260e+07
max,381.970001,382.779999,380.489990,382.109985,381.686829,6.167723e+08

In [15]:
QQQ.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5697 entries, 1999-03-10 to 2021-10-26
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       5697 non-null   float64
 1   High       5697 non-null   float64
 2   Low        5697 non-null   float64
 3   Close      5697 non-null   float64
 4   Adj Close  5697 non-null   float64
 5   Volume     5697 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 311.6 KB

In [16]:
def sinplot(flip=1):
    x = np.linspace(0, 14, 100)
    for i in range(1, 7):
        plt.plot(x, np.sin(x + i * .5) * (7 - i) * flip)
sinplot()

In [11]:
sns.set_theme()
sinplot()

In [12]:
sns.set_style("dark")
sinplot()

In [13]:
sns.set_style("white")
sinplot()

In [14]:
sns.set_style("white")
sinplot()

In [15]:
sns.set_style("ticks")
sinplot()

In [16]:
sinplot()
sns.despine()

In [18]:
f = plt.figure(figsize=(6, 6))
gs = f.add_gridspec(2, 2)

with sns.axes_style("darkgrid"):
    ax = f.add_subplot(gs[0, 0])
    sinplot()

with sns.axes_style("white"):
    ax = f.add_subplot(gs[0, 1])
    sinplot()

with sns.axes_style("ticks"):
    ax = f.add_subplot(gs[1, 0])
    sinplot()

with sns.axes_style("whitegrid"):
    ax = f.add_subplot(gs[1, 1])
    sinplot()

f.tight_layout()

In [19]:
sns.set_style("darkgrid", {"axes.facecolor": ".9"})
sinplot()