In [1]:
!pip install yfinance
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import yfinance as yf

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
  Preparing metadata (setup.py) ... - done
Requirement already satisfied: pandas>=0.24 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: numpy>=1.15 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (2.26.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
  Preparing metadata (setup.py) ... - done
Requirement already satisfied: lxml>=4.5.1 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in /opt/python/envs/default/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... - \ done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24094 sha256=c092d37d2791cf310332115e27487314ab9b093d85e1ec575aee4fe213d5e00e
  Stored in directory: /home/datalore/.cache/pip/wheels/f9/e9/7e/8b13db3bf3aeb5049d759e10702736fb96753089ac950fddc0
  Building wheel for multitasking (setup.py) ... - done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=ee8289152fd7a0f348422becd51166efd79a62d55894e9be037082c33643d2ba
  Stored in directory: /home/datalore/.cache/pip/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.64

In [2]:
import yfinance
BTF = yfinance.download("BTF")
BTF

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-22,25.500000,25.500000,23.930000,24.299999,24.299999,3192300
2021-10-25,25.160000,25.389999,24.914000,24.950001,24.950001,1267200
2021-10-26,24.834999,24.980000,24.580000,24.639999,24.639999,1276800
2021-10-27,23.430000,23.600000,23.110001,23.440001,23.440001,509200
2021-10-28,24.480000,24.570000,23.040001,24.389999,24.389999,426900
2021-10-29,24.299999,25.049999,24.247999,24.870001,24.870001,272400
2021-11-01,24.570000,24.639999,23.790001,24.330000,24.330000,293000
2021-11-02,25.100000,25.490000,24.990000,25.250000,25.250000,460600
2021-11-03,24.750000,25.090000,24.110001,24.870001,24.870001,319300
2021-11-04,24.750000,24.750000,24.010000,24.230000,24.230000,391100
2021-11-05,24.400000,24.500000,24.030001,24.209999,24.209999,277100
2021-11-08,25.980000,26.400000,25.851000,26.219999,26.219999,453700
2021-11-09,26.860001,26.980000,26.250000,26.670000,26.670000,466266

In [3]:
BTF.head(201)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-22,25.500000,25.500000,23.930000,24.299999,24.299999,3192300
2021-10-25,25.160000,25.389999,24.914000,24.950001,24.950001,1267200
2021-10-26,24.834999,24.980000,24.580000,24.639999,24.639999,1276800
2021-10-27,23.430000,23.600000,23.110001,23.440001,23.440001,509200
2021-10-28,24.480000,24.570000,23.040001,24.389999,24.389999,426900
2021-10-29,24.299999,25.049999,24.247999,24.870001,24.870001,272400
2021-11-01,24.570000,24.639999,23.790001,24.330000,24.330000,293000
2021-11-02,25.100000,25.490000,24.990000,25.250000,25.250000,460600
2021-11-03,24.750000,25.090000,24.110001,24.870001,24.870001,319300
2021-11-04,24.750000,24.750000,24.010000,24.230000,24.230000,391100
2021-11-05,24.400000,24.500000,24.030001,24.209999,24.209999,277100
2021-11-08,25.980000,26.400000,25.851000,26.219999,26.219999,453700
2021-11-09,26.860001,26.980000,26.250000,26.670000,26.670000,466266

In [4]:
BTF.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-11-03,24.750000,25.09,24.110001,24.870001,24.870001,319300
2021-11-04,24.750000,24.75,24.010000,24.230000,24.230000,391100
2021-11-05,24.400000,24.50,24.030001,24.209999,24.209999,277100
2021-11-08,25.980000,26.40,25.851000,26.219999,26.219999,453700
2021-11-09,26.860001,26.98,26.250000,26.670000,26.670000,466266

In [5]:
BTF.describe()

,Open,High,Low,Close,Adj Close,Volume
count,13.000000,13.000000,13.000000,13.000000,13.000000,1.300000e+01
mean,24.931923,25.149231,24.373308,24.797692,24.797692,7.389128e+05
std,0.844974,0.857860,0.942790,0.862904,0.862904,8.112527e+05
min,23.430000,23.600000,23.040001,23.440001,23.440001,2.724000e+05
25%,24.480000,24.639999,23.930000,24.299999,24.299999,3.193000e+05
50%,24.750000,25.049999,24.110001,24.639999,24.639999,4.537000e+05
75%,25.160000,25.490000,24.914000,24.950001,24.950001,5.092000e+05
max,26.860001,26.980000,26.250000,26.670000,26.670000,3.192300e+06

In [6]:
BTF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13 entries, 2021-10-22 to 2021-11-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       13 non-null     float64
 1   High       13 non-null     float64
 2   Low        13 non-null     float64
 3   Close      13 non-null     float64
 4   Adj Close  13 non-null     float64
 5   Volume     13 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 728.0 bytes

In [8]:
g = sns.FacetGrid(tips, col="time")
g.map(sns.histplot, "tip")
g = sns.FacetGrid(tips, col="sex", hue="smoker")
g.map(sns.scatterplot, "total_bill", "tip", alpha=.7)
g.add_legend()

ModuleNotFoundError: ModuleNotFoundError: No module named 'tips'